[submodule "lib/gkl"]
	path = lib/gkl
	url = https://github.com/gregdavill/gsd-kicad-libs
[submodule "lib/pkl"]
	path = lib/pkl
	url = https://github.com/esden/pretty-kicad-libs
[submodule "lib/kicad-length-matching-checks"]
	path = lib/kicad-length-matching-checks
	url = https://github.com/mithro/kicad-length-matching-checks
